

@font-face {
    font-family: outfit;
    src: url(./Outfit/Outfit-VariableFont_wght.ttf);
}

* {
    /* border: 1px solid black; */
    color: black;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* border: 1px solid rgb(148, 148, 148); */
    background-color: hsl(216, 4%, 47%);
    background-color: hsl(217, 54%, 11%);
    margin: 0 auto;
    width: 1200px;
    /* height: 1500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: outfit;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    /* border: 1px solid black; */
    width: 1200px;
    padding : 20px 0px ;
    /* margin-bottom: 50px; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
header h1 {
    color: #00FFF8;
    letter-spacing: 5px;
}
header h2 {
    /* border: 1px solid red; */
    color: rgb(179, 170, 170);
} 
header span {
    /* border: 1px solid black; */
    text-align: end;
}
.ville {
    font-size: 15px;
}


/* NAV */
nav h3 {
    /* border: 1px solid black; */
    color: rgb(192, 185, 185);
    width: 1200px;
    /* padding : 20px 0px ; */
    margin-bottom: 5px;
    text-transform: uppercase ;
    letter-spacing: 2px;
}

nav hr {
    border-color: rgb(192, 185, 185);
    color: rgb(192, 185, 185);
    margin-bottom: 30px;
}

/* MAIN */
main {
    /* border: 1px solid yellow; */
    display: grid;
    width: 1200px;
    grid-template-columns : auto auto auto;
    gap: 20px;
    justify-content: space-between;
    margin: 0;
}


/* SECTION */
section {
    border: 1px solid rgba(114, 114, 114, 0.5);
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    /* width: 390px; */
    height: 500px;
}

    /* ZONE IMAGE */
    .card {
        /* border: 1px solid red; */
        height: 250px;
    }

    img {
        width: 100%;
        height: 250px;
        border-radius: 10px 10px 0px 0px;
    }

    .card:hover {
        transform: scale(1.005);
    }

    /* BLOC TEXT */
    .bloc-text {
        /* border: 1px solid red; */
        color: hsl(215, 32%, 27%);
        /* height: 250px; */
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
    }

    /* TITLE */
    .bloc-text a {
        margin-top: 20px;
        text-decoration: none;

    }
    .bloc-text a:hover {
        text-decoration:underline ;
        color: white;
    }

    .title {
        color: hsl(0, 0%, 100%);
        font-size: 25px;
        font-weight: 600;
        font-weight: 400;
        margin: 0;
        padding-bottom: 20px;
    }
    
    /* SPAN HTML CSS */
    .html-css {
        /* border: 1px solid yellow; */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        padding-bottom: 10px;
        margin: 0;
    }
    .red {
        color: hsl(182, 52%, 35%);
        font-size: 15px;
        font-size: 20px;
        font-weight: 600;
        padding-left: 0;
        margin: 0;
    }
    .pink {
        color: hsl(298, 63%, 44%);
        font-size: 15px;
        font-size: 20px;
        font-weight: 600;
        padding-left: 20PX;
        margin: 0;
    }

    /* TEXT */
    section span p {
        margin: 20px 0;
        color: #8BACD9;
        font-size: 15px;
        line-height: 20px;
        margin: 0;
    }
